
/* Style the counter cards */
.card {
    width: 330px;
    padding: 16px;
    margin:20px;
    color: white;
    text-align: center;
    border-radius: 12px;
}
.icon {
    font-size:50px;
    text-align: center;
}
.cardstatus{

    padding: 3%;
    width: 100%;
    background-color: white;
    border-radius: 12px;
    color: blue;
}
.comment{
    display: none;
    margin-left: 10%;
    border-radius: 12px;
    padding: 1%;
    width: 80%;
    color: red;
    
    text-align: center;
    margin-bottom: 20px;
}
