<!DOCTYPE html>
<html lang="en">

<head>
    <title>L. D. College of Engineering</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/static/static/images/favicon.ico">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/static/static/plugins/bootstrap/css/bootstrap.min.css">

    <!-- font-aweome CSS -->
    <link rel="stylesheet" href="/static/static/plugins/font-awesome/css/all.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/static/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/static/css/Dashbord.css">

</head>

<body>

    <!-- navigation bar -->
    <div id="admin-navigation-bar"></div>
    <!-- \.navigation bar -->

    <!-- contant -->
    <div class="container mt-5">
        <h1>hello Admins...!</h1>
        <div class="row text-center">
            <div class="card col-lg-3 mx-auto bg-success">
                <p class="icon"><i class="far fa-file-alt"></i></p>
                <h3 id="rcount"></h3>
                <p class="cardstatus"><strong>Pending Registration</strong></p>
            </div>

            <div class="card col-lg-3 mx-auto bg-success">
                <p class="icon"><i class="far fa-address-card"></i></p>
                <h3 id="dcount"></h3>
                <p class="cardstatus"><strong>Pending Document</strong></p>
            </div>
        </div>

    </div>

    <!-- footer -->
    <div id="addFooter"></div>
    <!-- /.footer -->

</body>


<!-- Jquery JavaScript -->
<script src="/static/static/plugins/jquery/jquery.min.js"></script>
<script src="/static/static/plugins/jquery/jquery.validate.min.js"></script>
<script src="/static/static/plugins/jquery/additional-methods.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/static/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/static/plugins/bootstrap/js/popper.min.js"></script>

<!-- Custom CSS -->
<script src="/static/static/js/script.js"></script>
<script src="/static/static/js/AdminDashbord.js"></script>

</html>