
            /* Style the counter cards */
            .card {
                border-radius: 12px;
                padding: 16px;
                text-align: center;
                color: white;
                margin:20px;
                }
                .icon {
                    font-size:50px;
                    text-align: center;
                }
                .cardstatus{
                
                    padding: 3%;
                    width: 100%;
                    background-color: white;
                    border-radius: 12px;
                    color: blue;
                }
                .comment{
                    display: none;
                    margin-left: 10%;
                    border-radius: 12px;
                    padding: 1%;
                    width: 80%;
                    color: red;
                    
                    text-align: center;
                    margin-bottom: 20px;
                }
    